footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    padding: 0.5em 0 0.5em 0;
}