footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-bg);
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    padding: 0.5em;
}