:root {
    --card-bg: #3d5666;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;    
}

.project {
    background-color: var(--card-bg);
    border-radius: 3px;
    box-shadow: 5px 5px 5px #28323c;
}

.white {
    background-color: white;
}

.project .source {
    color: #c0c0c0;
}

.project img  {
    width: 100%;
    display: block;
    border-radius: 3px 3px 0 0;
}

.project-title {
    color: white;
    font-size: 1.25rem;
    margin: 0;
}

.card-text {
    padding: 1rem;
}

/* only mobile */
@media screen and (max-width: 767px) {
    .project-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .project-cards {
        grid-template-columns: 1fr;
    }
}