.slideshow-container {
    position: relative;
    padding: 20px 45px 40px;
    background-color: var(--slideshow-bg);
    max-height: 520px;
    width: inherit;
}

/* #project .slideshow::before,
#project .slide::before {
    content: '';
    display: block;
    padding-top: 56.25%;
} */

.slideshow {
    position: relative;
    width: 100%;
    max-height: 460px;
    aspect-ratio: 960 / 540;
}

#project .slide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    max-height: 460px;
    object-fit: contain;
    transition: opacity 0.5s;
    opacity: 0;
    aspect-ratio: 960 / 540;
}

#project .slide.active {
    opacity: 1;
}

.slideshow-container button {
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 43px;
    padding: 0;
    height: 90px;
    color: white;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

.slideshow-container button:last-of-type {
    right: 0;
    transform: translateY(-50%);
}

.slideshow-container button:hover {
    background-color: #121212;
}

.dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 30px;
    transform: translateX(-50%);
}

.dot-container {
    padding: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-container.active {
    width: 18px;
    height: 18px;
}

.dot {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
}

.dot-container.active .dot {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-accent);
}

/* only mobile */
@media screen and (max-width: 767px) {
    .slideshow-container {
        background-color: transparent;
        margin-bottom: 50px;
        padding: 0;
    }

    .dots {
        display: flex;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
    }

    .slideshow-container button {
        display: none;
    }

    #project .slide {
        width: 100%;
    }
}