#project .breadcrumb {
    padding-bottom: 20px;
}

#project h2 {
    text-align: left;
}

#project .media {
    display: block;
    background-color: #5d6970;
    width: 100%;
    max-height: 540px;
    object-fit: contain;
}

@media (min-width: 1025px) { /* ab Laptop L bis Desktop*/

    #project .grid {
        margin-top: 1rem;
        column-count: 2;
        /* orphans: 2; */
    }

    #project .grid > p {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    /* #project .grid > p:first-child {
        margin-top: 0;
    } */

    #project .grid > h3 {
        font-size: 1.17rem;
        margin-bottom: 1.5rem;
    }
}