#project .breadcrumb {
    padding-bottom: 20px;
}

#project h2 {
    font-size: 1.7em;
    text-align: left;
}

#project .btn {
    margin-block: 0 0.75rem;
    background-color: var(--primary-accent);
    border: 1px solid var(--primary-accent-border);
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #111111;
}

#project .btn:hover {
    background-color: var(--primary-accent-hover);
}

.btn svg {
    vertical-align: middle;
}

#project .grid .subline {
    font-size: large;
}

#project .grid .col1 *:first-child {
    margin-top: 0;
}

@media (min-width: 1025px) { /* ab Laptop L bis Desktop*/

    #project .grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 3rem 2rem;
    }

    #project .grid .col1 {
        grid-area: 2 / 1 / 2 / 2;
    }

    #project .grid .col2 {
        grid-area: 2 / 2 / 2 / 3;
    }

    #project .grid .headline {
        grid-area: 1 / 1 / 2 / 3;
    }

    #project .grid > p {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    #project .grid > h3 {
        font-size: 1.17rem;
        margin-bottom: 1.5rem;
    }
    
}