button, input, optgroup, select, textarea {
    line-height: inherit;
}

#contact form > label {
    display: inline-block;
    margin-top: 0.5rem;
}

#contact input:not([type="radio"]),
#contact textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.2rem;
    outline: none;
    border: 1px solid black;
}

/* #contact input:not([type="radio"]):invalid,
#contact textarea:invalid {
    border-color: #7A2351;
} */

#contact input:not([type="radio"]) {
    height: 1.5em;
}

#contact textarea {
    white-space: pre-line;
    padding: 2px;
    height: calc(1rem * 1.5 * 10 + 6px);
}

#contact input:not([type="radio"]):-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow: 0 0 0px calc(1rem * 0.75)  white inset;
}

#contact .error {
    display: none;
}

#contact .error.active {
    display: inline-block;
    margin: 0;
}

#contact .btn[type=submit] {
    display: block;
}

#contact .confirm {
    color: white;
    padding: 5px 10px;
}

#contact .confirm.success{
    background-color: teal;
}

#contact .confirm.fail{
    background-color: #7A2351;
}

/* Syling Radiobuttons */

#contact .radio-buttons label{
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    padding-right: 2rem;
    cursor: pointer;
    user-select: none;
}

#contact input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

#contact .my-radio {
    position: absolute;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 0.5rem;
}

#contact .my-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: #B86E95;
    display: none;
}

#contact input[type="radio"]:checked ~ .my-radio::after {
    display: inline-block;
}

@media (min-width: 768px) { /* ab Tablet*/

    #contact form {
        max-width: 1000px;
        margin: 0 auto;
    }

    #contact form > label,
    #contact textarea {
        margin-top: 1rem;
    }

    #contact form > label {
        width: 20%;
    }

    #contact input:not([type="radio"]),
    #contact textarea {
        display: inline-block;
        width: 80%;
    }

    #contact textarea {
        resize: vertical;
        vertical-align: top;
    }

    #contact .btn[type=submit],
    #contact .confirm,
    #contact .radio-buttons {
        margin-left: 20%;
    }
}
