/* .color-primary-0 { color: #B86E95 }
.color-primary-1 { color: #E8CADA }
.color-primary-2 { color: #D59EBB }
.color-primary-3 { color: #98426F }
.color-primary-4 { color: #7A2351 }
.color-hover { color: #a85e85 } */

body {
    background: #5d6970 url("../data/tile-blue.png") fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5; /* sets recommended line-height */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1, h2 {
    font-weight: normal;
}

h2 {
    color: #b86e95;
    text-align: center;
    margin-top: 0.93em;
    margin-bottom: 0.73em;
}

p {
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

a {
    text-decoration: none;
    color: black;
}

article:first-of-type {
    margin-top: calc(1.8rem * 1.5 + 55px);
}

article {
    width: calc(100% - 80px);
    background-color: white;
    margin: 0 auto 70px auto;
    padding: 20px 20px 30px 20px;
    scroll-margin-top: calc(1.8rem * 1.5 + 55px);
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #b86e95;
    padding: 5px 10px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.primary-3 {
    color: #98426F;
}

.border {
    border: black solid 1px;
}

@media (min-width: 769px) { /* ab Laptop */
    article:first-of-type {
        margin-top: calc(2.8rem * 1.5 + 75px);
    }

    article {
        scroll-margin-top: calc(2.8rem * 1.5 + 75px);
    }
}

@media (min-width: 1025px) { /* ab Laptop L bis Desktop*/
    article:first-of-type {
        margin-top: calc(1.8rem * 1.5 + 55px);
    }

    article {
        scroll-margin-top: calc(1.8rem * 1.5 + 55px);
        max-width: 1500px;
    }
}